ClientApplicaitonActivity12(web service and IIS)/ClientApplicaitonActivity12/Web References/webs/Activity12WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="JoinStrings">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="str1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="str2" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="JoinStringsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="JoinStringsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="JoinStringsSoapIn">
    <wsdl:part name="parameters" element="tns:JoinStrings" />
  </wsdl:message>
  <wsdl:message name="JoinStringsSoapOut">
    <wsdl:part name="parameters" element="tns:JoinStringsResponse" />
  </wsdl:message>
  <wsdl:portType name="Activity12WebServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="JoinStrings">
      <wsdl:input message="tns:JoinStringsSoapIn" />
      <wsdl:output message="tns:JoinStringsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Activity12WebServiceSoap" type="tns:Activity12WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JoinStrings">
      <soap:operation soapAction="http://tempuri.org/JoinStrings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Activity12WebServiceSoap12" type="tns:Activity12WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JoinStrings">
      <soap12:operation soapAction="http://tempuri.org/JoinStrings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Activity12WebService">
    <wsdl:port name="Activity12WebServiceSoap" binding="tns:Activity12WebServiceSoap">
      <soap:address location="http://localhost:1235/Activity12WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="Activity12WebServiceSoap12" binding="tns:Activity12WebServiceSoap12">
      <soap12:address location="http://localhost:1235/Activity12WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>